.methane-chart {
  width: 100%;
  max-width: 800px; 
  aspect-ratio: 2 / 1; 
  padding: 0 10px; 
  box-sizing: border-box;
  margin: 0 auto; 
}

@media (max-width: 768px) {
  .methane-chart {
      aspect-ratio: 4 / 3;
  }
}

@media (max-width: 480px) {
  .methane-chart {
      aspect-ratio: 1 / 1; 
      padding: 0 5px;
  }
}